---
const title = "No quiero cambiar";
const artist = "ManzDev";
---

<style>
  .song-info-container {
    min-width: 350px;
    height: 100%;

    display: grid;
    grid-template-columns: 96px 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0 0.5rem;

    & .avatar-song {
      --size: 96px;

      grid-row-start: 1;
      grid-row-end: 3;
      width: var(--size);
      height: var(--size);
      display: grid;
      place-items: center;

      & img {
        width: 85%;
        height: 85%;
        border-radius: 10px;
      }
    }

    & p {
      font-family: var(--default-font);
      display: grid;
      margin: 0;

      &.title {
        color: #fff;
        align-items: end;
      }

      &.artist {
        color: #777;
        align-items: start;
      }
    }
  }
</style>

<script type="module">
  const addCoverCard = (link) => {
    const existentCoverCard = document.querySelector("cover-card");
    if (existentCoverCard) existentCoverCard.remove();

    const coverCard = document.createElement("cover-card");
    coverCard.setAttribute("src", link);
    document.body.append(coverCard);
  }

  const image = document.querySelector(".song-info-container img");
  image.addEventListener("click", () => addCoverCard(image.src));

  document.addEventListener("player:update-info", ({ detail }) => {
    const { title, artist, slug, album } = detail;

    const container = document.querySelector(".song-info-container");
    const titleTag = container.querySelector(".title");
    const artistTag = container.querySelector(".artist");
    const imageTag = container.querySelector("img");

    titleTag.textContent = title;
    artistTag.textContent = artist;
    imageTag.src = `/player/playlist/${album.toLowerCase()}/${slug}.webp`;
    imageTag.alt = title;
    document.body.style.setProperty("--song-image", `url(${imageTag.src})`);

    addCoverCard(imageTag.src);
  });
</script>

<div class="song-info-container">
  <div class="avatar-song">
    <img src="/player/playlist/musicdev/no-quiero-cambiar.webp" alt="">
  </div>
  <p class="title">{title}</p>
  <p class="artist">{artist}</p>
</div>
