---

---

<script type="module">
  import { setAnimation } from "/player/modules/setAnimation.js";

  class SongItem extends HTMLElement {
    constructor() {
      super();
      this.attachShadow({ mode: "open" });
    }

    static get styles() {
      return /* css */ `
        :host {
          container: songitem / inline-size;
        }

        .icon {
          --size: fit-content;

          width: var(--size);
          height: var(--size);
          padding: 0.25rem;
          border-radius: 5px;
          line-height: 0;
          justify-self: center;
          transition: background 0.2s;

          &:hover {
            background: #ffffff15;
          }
        }

        .row-item {
          display: grid;
          grid-template-columns: var(--playlist-format);
          font-family: var(--default-font);
          font-size: 1rem;
          align-items: center;
          padding: 0.25rem 0.5rem;
          border-radius: 5px;
          user-select: none;
          opacity: 0;

          @container songitem (width <= 1000px) {
            --playlist-format: 26px 1fr;

            & div:nth-child(3),
            & div:nth-child(4),
            & div:nth-child(5),
            & .icon { display: none }
          }

          & > div:nth-child(4) {
            text-align: center;
          }

          &:hover {
            background: #ffffff15;
            cursor: pointer;
          }
        }

        .title-container {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          & img {
            --size: 64px;

            width: var(--size);
            height: var(--size);
            border-radius: 5px;
          }

          & .group {
            display: inline-flex;
            flex-direction: column;

            & .artist {
              color: var(--dark-textcolor);

              .row-item:hover & {
                color: #fff;
              }
            }
          }
        }
      `;
    }

    connectedCallback() {
      this.slug = this.getAttribute("slug");
      this.title = this.getAttribute("title");
      this.artist = this.getAttribute("artist");
      this.album = this.getAttribute("album")
        .toLowerCase()
        .replace("(", "")
        .replace(" ", "-")
        .replace(")", "");
      this.albumtitle = this.getAttribute("album");
      this.date = this.getAttribute("date");
      this.duration = this.getAttribute("duration");
      this.index = Number(this.getAttribute("index"));
      this.image = `/player/playlist/${this.album}/${this.slug}.webp`;
      this.thumb = `/player/playlist/${this.album}/${this.slug}.256.webp`;
      this.render();
      const rowItem = this.shadowRoot.querySelector(".row-item");
      setTimeout(() => setAnimation(rowItem, "FadeMove"), this.index * 25);
    }

    getData() {
      return {
        index: this.index,
        album: this.album,
        artist: this.artist,
        date: this.date,
        duration: this.duration,
        slug: this.slug,
        title: this.title,
      };
    }

    preventPlayback() {
      const downloadSong = this.shadowRoot.querySelector(".download");
      downloadSong.addEventListener("click", (event) =>
        event.stopPropagation(),
      );
    }

    sanitizeName(name) {
      return name
        .toLowerCase()
        .normalize("NFD")
        .replace(/[\u0300-\u036f]/g, "")
        .replace(/[()]/g, "")
        .replace(/[^a-z0-9]+/g, "-")
        .replace(/^-+|-+$/g, "")
        .replace(/-{2,}/g, "-");
    }

    render() {
      const index = this.index + 1;
      const indexSong = index < 10 ? `0${index}` : index;
      const songTitle = this.sanitizeName(this.title);
      const albumName = this.sanitizeName(this.album);

      this.shadowRoot.innerHTML = /* html */ `
        <style>${SongItem.styles}</style>
        <div class="row-item" data-id=${this.index}>
          <div class="num">${indexSong}</div>
          <div class="title-container">
            <img src=${this.thumb} alt=${this.title}>
            <div class="group">
              <div>${this.title}</div>
              <div class="artist">${this.artist}</div>
            </div>
          </div>
          <div>${this.albumtitle}</div>
          <div>${this.date.substring(0, 10)}</div>
          <div>${this.duration}</div>
          <a class="icon" href="#${this.album}-${index}">
              <img src="/player/icons/link.svg" width="18" height="18">
          </a>
          <a class="icon download" href="/player/playlist/${this.album}/${songTitle}.mp3" download="${indexSong}-${songTitle}-${albumName}.mp3">
            <img src="/player/icons/download.svg" width="18" height="18">
          </a>
        </div>
      `;

      // Prevent the download button from triggering the song playback when clicked
      this.preventPlayback();
    }
  }

  customElements.define("song-item", SongItem);
</script>
